<%- include('partials/header.ejs'); -%>

<% for( let book of books ) { %>
    <h2><%= book.title %></h2>
    <p><%= book.author %></p>
    <p><%= book.review %></p>
<% } %>

<%- include('partials/footer.ejs'); -%>
