<%- include('partials/header.ejs'); -%>

<% for( let book of bookItems ) { %>
    <h4>Title: <%= book.book_name %></h2>
    <p>Author: <%= book.book_author %></p>
    <% for( let review of reviewList ) { %>
        <p>My Review: <%= review.book_review %></p>
    <% } %>
<% } %>

<%- include('partials/footer.ejs'); -%>
