<%- include('partials/header.ejs'); -%>

    <div class="container-fluid pt-5">
        <div class="row">
            <% bookItems.forEach(function(book) { %>
                <div class="col-2">
                    <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>.jpg" alt="cover of <%= book.book_name %>" aria-label="cover of <%= book.book_name %>">
                </div>
                <div class="col-10" id="<%= book.id %>">
                    <h3># <%= book.id %>
                    </h3>
                    <h4>Title: <div class="col-6 py-2 ps-2"><%= book.book_name %></div>
                    </h4>
                    <h5><strong>Author:</strong>
                        <div class="col-6 py-2 ps-2"><%= book.book_author %></div>
                    </h5>
                    <p>
                        <strong>My Thoughts On The Book:</strong> 
                        <div class="col-6 py-2 ps-2"><%= book.book_review %></div>
                    </p>
                </div>
                <% }) %>
        </div>
    </div>


    <%- include('partials/footer.ejs'); -%>